<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <div *ngIf="!user">
    <a class="text-xl" mat-button routerLink="/auth/login"> Login </a> |
    <a class="text-xl" mat-button routerLink="/auth/register"> Register </a>
  </div>
  <div *ngIf="user" class="flex justify-center items-center space-x-1">
    <mat-icon>account_circle</mat-icon>
    <a class="text-xl" [matMenuTriggerFor]="menu" mat-button class="text-white">
      {{ user.fullName }}
    </a>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="container mt-6">
  <router-outlet></router-outlet>
</div>
